
.time-countdown{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: 	#FFD700;
  color: #FFFFFF;
  animation: fontcolor  60s linear
}

.time-countdown>ul{
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.time-countdown > ul > li {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: transparent;
  border: 10px solid rgba(255,250,240, 1.0);
  border-top-color: #FF8C00;
  border-bottom-color: #FF8C00;
  border-radius: 500px;
  transition: all 0.5s ease;
}


#num{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 200;
  margin-left: -4%;
  margin-top: -5%;
  font-size: 120px;
}
.button{
  position: absolute;
  top: 80%;
  left:50%;
  margin-left: -2.7%;
  z-index:100;
  background-color: 	#F0E68C;
  border:none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow:2px 2px 1px rgba(233,150,122,.5);
  color:#FF4500;

}


.time-countdown > ul > li:first-child {
  margin-left: -115px;
  margin-top: -120px;
  z-index: 2;
  width: 240px;
  height: 240px;
  border-width: 5px;
  border-right-color:transparent;
  border-left-color:transparent;
  box-shadow: inside 0px 0px 10px rgba(244,164,96, .5);
  animation: spinBG 5s infinite linear;
}

.time-countdown > ul > li:nth-child(2) {
  margin-left: -128px;
  margin-top: -130px;
  z-index: 1;
  width: 270px;
  height: 270px;
  border-width: 2px;
  border-style: dashed;
  border-right-style:dotted;
  border-left-style:dotted;
  box-shadow: 0px 0px 20px rgba(250,250,210, .5);
  animation: spinBG2 2s infinite linear;
}
.time-countdown > ul > li:nth-child(3) {
  margin-left: -150px;
  margin-top: -150px;
  z-index: 1;
  width: 300px;
  height: 300px;
  border-width: 10px;
  border-style:double;
  border-top-color:transparent;
  border-bottom-color:transparent;
  box-shadow: inset 0px 0px 25px rgba(255,250,250, .5);
  animation: spinBG 12s infinite linear;
}
.time-countdown > ul > li:nth-child(4) {
  margin-left: -175px;
  margin-top: -175px;
  z-index: 1;
  width: 360px;
  height: 360px;
  border-width: 5px;
  border-style: solid;
  border-top-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
  box-shadow: inset 0px 0px 25px rgba(244,164,96, 1.0);
  animation: spinBG3 8s infinite linear;
}
.time-countdown > ul > li:last-child {
  position: absolute;
  top: 57%;
  left: 52%;
  z-index: 20;
  width: 200px;
  height: 100px;
  margin-left: -125px;
  margin-top: -155px;
  padding: 70px 0px 30px;
  background-color: transparent
  border: 10px solid rgba(8, 8, 8, 1.0);
  border-radius: 10 px;
  text-shadow: 2px 2px 0px rgba(250,128,114, 1);
  box-shadow: 0px 0px 30px rgba(225,225,225, 1);
  animation: pulseShadow 5s infinite linear;
}
.time-countdown > ul > li:last-child::after {
  content: '';
  border: 3px dotted rgba(225, 225, 0, 1.0);
  border-radius: 200px;
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  background-color: transparent;
  box-shadow: inset 0px 0px 30px rgba(225, 225, 225, 1.0);
}

/*-------------------------------------------
		 Animations
		-------------------------------------------*/
@keyframes fontcolor{
  0%{
    color: #FFFFFF;
  }
  94%{
    color: #FFFFFF;
  }
  100%{
    color: #FF4500;
  }
}

@keyframes pulseGlow {
  0% {
    text-shadow: 0px 0px 20px rgba(244,164,96, 0.8);
  }
  50% {
    text-shadow: 0px 0px 40px rgba(244,164,96, 0.75);
  }
  100% {
    text-shadow: 0px 0px 20px rgba(244,164,96, 0.8);
  }
}

@keyframes pulseShadow {
  0% {
    box-shadow: 0px 0px 10px rgba(244,164,96, 0.5);
  }
  50% {
    box-shadow: 0px 0px 15px rgba(244,164,96, 0.8);
  }
  100% {
    box-shadow: 0px 0px 35px rgba(244,164,96, 0.5);
  }
}

@keyframes spinBG {
  0% {
    transform: rotate(0deg);
    border-top-color:#E9967A;
    border-bottom-color: #E9967A;
  }
  50%{
    border-top-color: #FFFF00;
    border-bottom-color: #FFFF00;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: #FF4500;
    border-bottom-color: #FF4500;
  }
}

@keyframes spinBG2 {
  0% {
    transform: rotate(360deg);
    box-shadow: 0px 0px 1px rgba(244,164,96, 0.75);
    border-top-color:#E9967A;
    border-bottom-color: #E9967A;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 0px 0px 20px rgba(244,164,96, 0.75);
    border-top-color: #FFFF00;
    border-bottom-color: #FFFF00;
  }
  100% {
    transform: rotate(0deg);
    box-shadow: 0px 0px 1px rgba(244,164,96, 0.75);
    border-top-color: #FF8C00;
    border-bottom-color: #FF8C00;
  }
}

@keyframes spinBG3 {
  0% {
    transform: rotate(180deg);
    box-shadow: 0px 0px 1px rgba(244,164,96, 0.5);
    border-top-color:#FFFFFF;
    border-bottom-color: #FFFFFF;
  }
  50% {
    transform: rotate(0deg);
    border-top-color: #FF8C00;
    border-bottom-color: #FF8C00;
  }
  100% {
    transform: rotate(-180deg);
    border-top-color:#FFFFFF;
    border-bottom-color: #FFFFFF;
  }
}


}
